{% extends 'base.html' %}
{% block title %}Obaya Online | Change Password{% endblock title %}

{% block content %}
    <div class="form-control-group">
        <p><h6>Kindly fill in the details below to change your password</h6></p>
        <div class="form-group">
            <form action="" method='POST' class='form-control'>
                {% csrf_token %}
                {{form.as_p}}
                <button type='submit'>Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
