{% extends 'base.html' %}
{% block title %}Obaya Online | Profile{% endblock title %}


{% block content %}
  <div class="row">
    <div class="col">
      {% if customer %}
      <div class="col-2">
        <p><a class="dropdown-item" href="{% url 'edit_profile' customer.user.pk %}">Edit Profile</a></p>
      </div>      
    <p>Name: {{ customer.user }}</p>
    <p>Email: {{ customer.user.email }}</p>
    {% if customer_address %}
    <h6>Address:</h6>
      <p>{{ customer_address.street_address }}</p>
      {% if customer_address.apartment_address %}
        <p>{{ customer_address.apartment_address }}</p>
      {% endif %}
      <p>{{ customer_address.city }}, {{ customer_address.state }} {{ customer_address.zipcode }}</p>
      <p>{{ customer_address.country }}</p>
      <p><a href="">(Edit)</a> |  <a href="">(Delete)</a></p>
    {% else %}
      <p>No address on file.</p>
    {% endif %}
    {% else %}
      <p>You are not logged in.</p>
    {% endif %}

    </div>
  </div>
{% endblock %}