{% extends 'base.html' %}
{% block title %}Obaya Online | Profile{% endblock title %}


{% block content %}
  <div class="row">
    <div class="col">
{% if customer %}
      <div class="col-2">
        <p><a class="dropdown-item" href="{% url 'edit_profile' customer.user.pk %}">Edit Profile</a></p>
      </div>      
      <p>Name: {{ customer.user }}</p>
      <p>Email: {{ customer.user.email }}</p>
    {% if addresses %}
    <h6>Address:</h6>
      {% for address in addresses %}
        <p>{{ address.address }}</p>
        <p>{{ address.city }}, {{ address.state }} {{ address.zipcode }}</p>
        <p><a href="">(Edit)</a> |  <a href="">(Delete)</a></p>
      {% endfor %}
    {% else %}
      <p>No address on file.</p>
    {% endif %}
{% else %}
  <p>You are not logged in.</p>
{% endif %}

    </div>
  </div>
{% endblock %}