

.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}
.cart-row-items{
    display: flex;
    align-items: flex-stretch;
}

.quantity{
    display: inline-block;
}


/* buttons */
#addition{
    background-color:  #8bca84!important;
}
#subtraction{
    background-color: #5bb450!important;
}



/* MEDIA QUERIES */

@media only screen and (max-width:760px) {

    #mobile-cart {
        display: none;
    }

    
}