
.store{
    display: flex !important;
    flex-wrap: wrap !important;
}
.store .wrapper{
    display: flex !important;
    flex-direction: row;
    justify-content: center !important;
}


.products{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    
}

.card{
    width: 200px !important;
    margin: 10px;
}

.categories{
    margin-right: 100px !important;
}