{% extends 'base.html' %}
{% block title %}Obaya Online | Categories{% endblock title %}
{% block content %}




<div class="container">
  <div class="row">
    <div class="col" style="max-height: max-content; margin-top: 10px; min-height: 82vh;">
      <div><a href="{% url 'add_category' %}" class="btn btn-secondary">Add Category</a></div>
      {% for category in categories %}
      <div style="margin-top: 10px;">
        <ul>
          <li><a href="{% url 'category_detail' category.pk %}" style="text-decoration: none; x">{{category.name}}</a></li>
        </ul>
      </div>
      {% endfor %}


    </div>
  </div>
</div>





{% endblock %}