{% extends 'base.html' %}
{% load static %}
{% block title %}Obaya Online | Checkout{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">

    <a href="{% url 'cart' %}" class='btn btn-outline-dark my-2'>Back to Cart</a>                

    <div class="row" id='checkout-wrapper'>

        <div class="col" id='checkout-boxes' >

                
                <div class="card">
                    <div class="card-body">
                        <div class="box-element" id='form-wrapper'>
                            <form action="" id="form">
                                <div class="user-info">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        
        
        
                                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
        
                                </div>
                            
        
        
        
                                <div class="shipping-info">
                                    
                                    <select name="billing_address" class="form-select" required>
                                        {% for address in customer_addresses %}
                                            <option value="{{ address.id }}" {% if address == customer_address %}selected{% endif %}>{{ address.address }}</option>
                                        {% endfor %}
                                    </select>
        
                                </div>
        
                            </form>
                        </div>
                        <div class="box-element" id='payment-info'>
                            <button type="button" onclick="makePayment()">Pay Now</button>
            
                        </div> 
                          
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="box-element">
                    
                            <h3>Order Summary</h3>
                            <hr>
                            <table class='table'>
                                <tr>
                                    <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                                    <th><h5>Total: <strong>price: ${{order.get_cart_total}}</strong></h5></th>
                                    
        
                            </table>
                            <div class="box-element">
                                {% for item in items%}
                                    <div class="cart-row">
                                        <div style='flex:2' ><img src="{{item.product.imageURL}}" alt="{{item.product.name}}" width='50'></div>
                                        <div style='flex:2' >{{item.product.name}}</div>
                                        <div style='flex:1' >{{item.product.price}}</div>
                                        <div style='flex:1' ><p class='quantity'>{{item.quantity}}</p></div>
                                        <div style='flex:1' >{{item.get_total}}</div>
                                    </div>
                                {% endfor %}
                
                            </div>
                
        
                        </div>
                    </div>
                </div>

        </div>
    </div>





{% comment %} <script src="https://checkout.flutterwave.com/v3.js"></script>

<script>
    let cart_total = '{{order.get_cart_total}}'
    let cart_id = '{{order.transaction_id}}'
    let customer_id = '{{customer_id}}';
    let customer_name = '{{customer_name}}';
    let customer_email = '{{customer_email}}';
    let logoUrl = '/static/images/Orange_and_Gray_Tag_Cart_Virtual_Shop_Logo-removebg-preview.png';
    //let customer_phone_number = '{{customer_phone_number}}';
    function makePayment() {
        FlutterwaveCheckout({
          public_key: "FLWPUBK_TEST-c4be858d739f16100797d96169b98e0f-X",
          tx_ref: cart_id,
          amount: cart_total,
          currency: "NGN",
          payment_options: "card, mobilemoneyghana, ussd",
          redirect_url: "http://127.0.0.1:8000/confirm_payment/",
          meta: {
            consumer_id: customer_id,
            consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
            email: customer_email,
            //phone_number: "customer_phone_number",
            name: customer_name,
          },
          customizations: {
            title: "Obaya Online",
            description: "Obaya Online Purchases"+cart_id,
            logo: logoUrl,
          },
        });
      }
</script> {% endcomment %}

<script src="https://checkout.flutterwave.com/v3.js"></script>

<script>
    let cart_total = '{{order.get_cart_total}}'
    let cart_id = '{{order.transaction_id}}'
    let customer_id = '{{customer_id}}';
    let customer_name = '{{customer_name}}';
    let customer_email = '{{customer_email}}';
    let logoUrl = '/static/images/Orange_and_Gray_Tag_Cart_Virtual_Shop_Logo-removebg-preview.png';

    function makePayment() {
        FlutterwaveCheckout({
          public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X",
          tx_ref: cart_id,
          amount: cart_total,
          currency: "NGN",
          payment_options: "card, mobilemoneyghana, ussd",
          redirect_url: "127.0.0.1:8000/confirm_payment/"+cart_id,
          meta: {
            consumer_id: customer_id,
            consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
            email: customer_email,
            name: customer_name,
          },
          customizations: {
            title: "Obaya Onlne",
            description: "Shopping at its finest",
            logo: logoUrl,
          },
        });
      }

</script>






{% endblock content %}