{% extends 'base.html' %}
{% block title %}Obaya Online | Contact Us{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col my-3" id='cart-card'>
            <p><img src="{{product.imageURL}}" alt="" width='300'></p>
            <p>{{product.name}}</p>
            <p>{{product.description}}</p>
            <p>{{product.category}}</p>
            <p>${{product.price}}</p>
            <p><button class='btn update-cart  btn-sm bg-danger text-light' value={{product.id}}>Add to Cart</button></p>
        </div>

        {% if user.is_staff %}
        <a href="{% url 'edit_product' product.pk %}">(Edit)</a>
        
        {% endif %}

    </div>

{% endblock content %}
