{% extends 'base.html' %}
{% block title %}Obaya Online | Contact Us{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col" style="height: 82vh;">
          <h5 style="margin-top: 10px;">Kindly fill in the details below to contact us</h5>
            <div class="form-control-group">
                <div class="form-group">
                    <form action="" method='POST' class='form-control'  >
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type='submit' class="btn btn-primary">Send message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}